body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

#titulo {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.box {
  display: inline-block;
  width: 500px;
  height: 300px;
  /* margin-left: 100px; */
  margin-top: 200px;
  align-items: center;
  text-align: justify;
  color: aliceblue;
  background-color: rgba(63, 141, 97);
}

.box p {
  margin: 10px 30px;
}

#imagem {
  margin-top: 200px;
  margin-inline: 40px;
}

#imagem img {
  height: 300px;
}

:any-link {
  text-decoration: none;
  color: aliceblue;
}
