body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

.tituloprincipal {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 90px;
    font-size: x-large;


}

.container {
    display: inline-block;
    padding: 90px;
    width: 500px;
    height: 50px;
    text-align: center;
    /*transform: translate */
    text-indent: 30px;
    align-items: center;
    justify-content: center;
    top: 100%;
    margin-inline: 100px;
}

.container #titulo {
    line-height: 3;
    color: rgba(63, 141, 97);
    text-align: center;

}

.tituloprincipal img {
    height: 250px;
    margin-inline: 35%;
    margin: 40px;

}