body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

.tituloprincipal {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 80px;
    font-size: x-large;

}

.container {
    display: inline-block;
    width: 500px;
    height: 10px;
    text-align: center;
    text-indent: 30px;
    top: 100px;
    justify-content: center;
    text-align: justify;
    margin-inline: 200px;
    
}

.container #titulo {
    line-height: 3;
    color: rgba(63, 141, 97);
    text-align: center;

}

.tituloprincipal img {
    width: 200px;
    margin-inline: 35%;
    margin: 20px;
    

}